body {

    height: 100vh;
    background-color: #29a3a4;
    font-family: Arial, Helvetica, sans-serif;
}

main {

    height: 70%;
    
}

#news {

    height: 90%;
}

#create-story {

    height: 45rem;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 10px;

}

#create-story form{

    height: 90%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

.text-paragraph {
  display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.title {

    display: flex;
}

.title img {

    margin-right: 10px;
}

#articles {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);

}

#news {

    display: block;
}

#create-story {

    display: none;
}

.input {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    border-radius: 10px;
    height: 3.5rem;
}

#file-input {
        display: none;
      }

#file-input-label {
    cursor: pointer;
    font-size: 1rem;
border: 1px solid black;
background-color: rgba(128, 128, 128, 0.308);
border-radius: 3px;
}

.input input {

    width: 99%;
    height: 100%;
}

.text-area {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.text-area textarea {

    width: 99%;
}

.submit {

    height: 2rem;
    width: 5rem;
    
}

.submit button {


    height: 100%;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    background-color: #038183;
}
